{% extends 'scrum/base.j2' %}

{% block content %}
<script type="text/javascript">
    (function () {
        var prepared_tasks = {{ prepared_tasks|safe }};
    })();
</script>

{{ sprint.title }}
<div class="row">
    <form role="form">

        <div class="col-md-12">
            <div class="form-group">
                <input class="form-control" name="available_points" id="amount" placeholder="укажи кол-во сторипоинтов">
            </div>
        </div>

        <div class="col-md-4">
            <p>сюда перетащат</p>
        </div>
        <div class="col-md-4">
            {% for task in tasks %}
                <div class="task clearfix">
                    <a href="#" class="task__link" data-toggle="modal" data-target="#edit_form">{{ task.title }}</a>
                    <a href="#" class="glyphicon glyphicon-remove js-task_delete"></a>
                </div>
            {% endfor %}
        </div>

    </form>
</div>

{% endblock %}
