@import 'colors'

.button
    display inline-block
    margin 0
    font-size 14px
    line-height 28px
    height 30px
    padding 0 14px
    color #505d63
    background #fff
    background linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%)
    border 1px solid #cccccc
    border-bottom-color #b3b3b3
    border-radius 4px
    box-sizing border-box
    text-decoration none
    text-align center
    box-shadow inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05)
    cursor pointer
    &__text
        position relative
    &:hover,
    &.button-hover
        color $base_dark
        background linear-gradient(to bottom, #ffffff 0%, #dddfdf 100%)
    &:active,
    &.button-active,
    &:hover &:active
        color #505d63
        background #dddfdf
        box-shadow inset 0 2px 6px rgba(0,0,0,.3)
        border-color #adafaf #c3c4c4 #d4d6d6
        & .button__text
            top 1px
    &:focus
        outline 0

    // orange
    &-orange
        border-color #ff6700
        background #ff6b01
        background linear-gradient(to bottom, #ff9900 0%, #ff7b00 100%)
        color #FFF
        box-shadow inset 0 1px 0 rgba(255, 192, 0, 1), 0 1px 2px rgba(0, 0, 0, .05)
        &:hover,
        &.button-hover
            color white
            background linear-gradient(to bottom, #ff9900 0%, #ff8a01 100%)
        &:active,
        &.button-active
            color white
            background #ff7b00
            border-color #c96100
            border-bottom-color #f27400

    // green
    &-green
        color white
        border-color #71a51e
        background #71a51e
        background linear-gradient(to bottom, #b6df45 0%, #79ba34 100%)
        box-shadow inset 0 1px 0 #d3ff7f, 0 1px 2px rgba(0, 0, 0, .05)
        &:hover,
        &.button-hover
            color white
            background linear-gradient(to bottom, #b6df45 0%, #87c338 100%)
        &:active,
        &.button-active
            color white
            background #79ba34
            border-color #5f9229
            border-bottom-color #72b031

    // buy
    &-buy
        font-size 12px
        line-height 20px
        height 22px
        padding 0 7px
        color white
        border-color #006cb9
        background #006cb9
        background linear-gradient(to bottom, #0088cd 0%,#005fcd 100%)
        text-shadow 0 -1px 0 rgba(0, 154, 237, 1)
        box-shadow 0 1px 0 #00a1d7 inset
        &:hover,
        &.button-hover
            color white
            background linear-gradient(to bottom, #0088cd 0%,#005fcd 100%)
        &:active,
        &.button-active
            color white
            border-color #00479a
            box-shadow 0 2px 5px #00479a inset
            background #005ecd
            text-shadow 0 -1px 0 rgba(0, 154, 237, 1)
            background linear-gradient(to bottom, #005ecd 0%,#005ecd 9%,#005cc9 100%)
    &-buy-big
        border-radius 5px
        height 29px
        line-height 27px
        font-size 13px
        padding 0 10px

    //small
    &-small
        font-size 12px
        line-height 20px
        height 22px
        padding 0 7px

    //big
    &-big
        border-radius 5px
        font-size 15px
        height 40px
        line-height 38px
        padding 0 25px
