.h-
    &relative
        position relative
    &centered
        margin 0 auto
    &pull_left
        float left
    &pull_right
        float right
    &clear
        clearfix()
    &clear_block
        display block
        clear both
    &put_in
        padding-right 35px
    &put_out
        margin-right -20px
    &text_centered
        text-align center
    &text_right
        text-align right
    &text_left
        text-align left
    &full_width
        width 100%
    &hidden
        display none
