@import 'common'
@import 'colors'

.popup
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    background rgba($base_dark, .5)
    &__content
        position absolute
        top 25%
        left 50%
        margin 0 0 0 -203px
        padding 25px
        width 406px
        background #FFF
    &__close
        position absolute
        right -35px
        top -45px
        width 30px
        height 30px
        background-repeat no-repeat
        bg 'close'
        background red
        cursor pointer
